@use 'base';

body {
    font-family: "Lato", sans-serif;
    line-height: 1.5em;
    padding: 0;
}

/* Header */
header {
    background-color: base.$mint;
    padding: 20px;
    margin: 0px;
    button {
        background-color: base.$mint;
        border: none;
    }
}

/* Huvudmeny */
nav {
    background-color: base.$mint;
    display: none;
    position: absolute;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    button {
        display: block;
        margin: 10px auto;
    }
    li {
        list-style: none;
        margin: 20px 35px auto auto;
        text-align: center;
    }
    a {
        color: base.$black;
        text-decoration: none;
        font-size: 1.7em;
        padding: 5px;
        border-radius: 10px;
    }
    a:hover, #active {
        background-color: base.$active

    }
}

/* Main */
main {
    background-color: base.$bg-color;
    padding: 0;
    a {
        color: base.$green;
        border-radius: 5px;
        padding: 3px;
    }
    a:hover {
        background-color: base.$green;
        color: base.$black;
    }
}
/* Sectioner och articles */
article {
    margin: 30px auto 50px;
    width: 90%;
    max-width: 1100px;   
    
    p {
        max-width: 40em;
        margin: 20px auto;
    }
}
section {
    margin: 0 auto;
}

/* Footer */
footer {
    @extend header;
    text-align: center;  
}

/* Rubriker */
h1, h2, h3 {
    @include base.headings;
}
h1 {
    line-height: 1.2em;
    @include base.text-color(1)
}

picture, img {
    @include base.images;

}


/* Animations-sida */
#animations1 {
    color: base.$black;
    animation: animations1 2s infinite alternate ease;
    
}
#bgColorChange {
    padding: 0.5em;
    border-radius: 10px;
    background-image: base.$bg-color-gradient;
    background-size: 500%;
    
    h2, p {
        border-radius: 5px;
        padding: 5px;
        width: fit-content;
        background-color: rgba($color: base.$bg-color, $alpha: 0.8);      
        transition: 0.7s ease-out;
    } 
    h2:hover, p:hover {
        transform: translate(0, -10px);
    }
}
#bgColorChange:hover {
        animation: bgColorGradient 8s infinite alternate;
}
#animations2 {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: relative;
    background-image: linear-gradient(90deg, base.$green, base.$mint, base.$green);
    animation: animations2 3s infinite alternate-reverse ease-in-out; 
   
}
#divider {
    height: 2px;
    width: 100%;
    background-color: grey;
}


/* Mörkt tema på enhet */
@media (prefers-color-scheme: dark) {
    body {
        color: base.$black-darkm;
    }
    header, footer {
        background-color: base.$bg-color-darkm;
        button {
            color: base.$black-darkm;
            background-color: base.$bg-color-darkm;
        }
    }
    nav {
        background-color: base.$bg-color-darkm;
        
        a {
            color: base.$black-darkm;
        }
        a:hover, #active {
            background-color: base.$active-darkm
        }
    }
    main {
        background-color: base.$mint-darkm;
        a {
            color: base.$green-darkm;
        }
        a:hover {
            background-color: base.$green-darkm;
            color: base.$white-darkm;
        }
    }
    
}

/* Större än 1100px */
@media (min-width: 1100) {
    #openMenu {
        display: none;
    }
    nav {
        display: block !important;
        position: static !important;
        height: fit-content;
        button {
            display: none;
            margin: 10px auto;
        }
        ul{
            margin: 0 auto;
            text-align: center;
        }
        li {
            display: inline;
        }
    }   
}

